.nav span {
	margin: 10px;
}
#file-table{
	margin-top: 20px;
	width: 80%;
}
#file-table th{
	text-align: left;
}
.item-name{
	line-height: 32px;
}
.item-name div,
.item-name label{
	cursor: pointer!important;
}
.item-name img{
	width: 32px;
}
.item-name label {
	line-height: 32px;
	vertical-align: top;
}